{% extends 'main-page/base.html' %}
{% block content %}
<div class="container mt-5 form-control w-50">
    <label class="form-control text-center justify-content-center">Adding comment to the post:</label>

    <div>
        {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="problems with the image of post-{{ post.pk }}">
        {% else %}
        {% endif %}
        <h6 class="mb-3">{{ post.title }}</h6>
        <p class="text-muted">Author: {{ post.author }}</p>
        <p>{{ post.body }}</p>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
              <button type="submit" class="btn btn-outline-success mt-3 mb-3">Add comment</button>
        </div>
    </form>
</div>
{% endblock %}
