{% extends 'main-page/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">{{ post.title }}</h2>
    <div class="card mb-4" style="max-width: 600px; margin: auto;">
        {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="problems with the image of post-{{ post.pk }}">
                        {% else %}
                    {% endif %}
        <div class="card-body">
            <h5 class="card-title">Author: {{ post.author }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <p class="text-muted">Posted on: {{ post.created_at }}</p>
            <a href="{% url 'post-list' %}" class="btn btn-secondary">Back to Posts</a>
            <a href="{% url 'post-edit' post.pk %}" class="btn btn-primary">Edit Post</a>
        </div>
    <div style="margin: 10px 20px">
        <div class="mt-3">
                    <h6>Comments:</h6>
                    {% for comment in comments %}
                        <div class="form-control comment mb-2">
                            <strong>{{ comment.author }}:</strong> {{ comment.body }}
                            <a href="{% url 'comment-edit' comment.pk %}" class="btn btn-outline-secondary mt-2 mb-2">Edit</a>
                            <a href="{% url 'comment-delete' comment.pk %}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    {% empty %}
                        <p>No comments yet.</p>
                    {% endfor %}
        </div>
    </div>
    </div>
</div>
{% endblock %}
