{% extends 'main-page/base.html' %}
{% block content %}
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbarcss">
        <div class="my-blog">
        <a class="navbar-brand" href="#">My Blog</a>
            </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="hero text-center">
        <h1>Welcome to My Personal Blog</h1>
        <p>Explore my thoughts, ideas, and experiences.</p>
        <a href="{% url 'posts' %}" class="btn btn-secondary">View Posts</a>
    </div>


    <footer class="text-center" style="margin-top: 180px;">
        <p>&copy; 2024 My Personal Blog. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}

